[submodule "archival/zstd"]
	path = archival/zstd
	url = https://github.com/facebook/zstd.git
[submodule "user/ImageMagick"]
	path = user/ImageMagick
	url = https://github.com/ImageMagick/ImageMagick.git
[submodule "user/curl"]
	path = user/curl
	url = https://github.com/curl/curl.git
[submodule "devel/cmake"]
	path = devel/cmake
	url = https://gitlab.kitware.com/cmake/cmake.git
[submodule "archival/xz"]
	path = archival/xz
	url = https://git.tukaani.org/xz.git
[submodule "archival/gzip"]
	path = archival/gzip
	url = https://git.savannah.gnu.org/git/gzip.git
[submodule "libraries/gnulib"]
	path = libraries/gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
[submodule "libraries/x264"]
	path = libraries/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "user/ffmpeg"]
	path = user/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "libraries/libexpat"]
	path = libraries/libexpat
	url = https://github.com/libexpat/libexpat
[submodule "libraries/c-ares"]
	path = libraries/c-ares
	url = https://github.com/c-ares/c-ares
[submodule "user/aria2"]
	path = user/aria2
	url = https://github.com/aria2/aria2
[submodule "libraries/wxWidgets"]
	path = libraries/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "libraries/libssh2"]
	path = libraries/libssh2
	url = https://github.com/libssh2/libssh2
[submodule "libraries/libffi"]
	path = libraries/libffi
	url = https://github.com/libffi/libffi
[submodule "libraries/openjpeg"]
	path = libraries/openjpeg
	url = https://github.com/uclouvain/openjpeg
[submodule "libraries/flac"]
	path = libraries/flac
	url = https://github.com/xiph/flac.git
[submodule "libraries/libuv"]
	path = libraries/libuv
	url = https://github.com/libuv/libuv
[submodule "libraries/libwebp"]
	path = libraries/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "libraries/pixman"]
	path = libraries/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "libraries/ogg"]
	path = libraries/ogg
	url = https://github.com/xiph/ogg.git
[submodule "libraries/libtiff"]
	path = libraries/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "libraries/lcms2"]
	path = libraries/lcms2
	url = https://github.com/mm2/Little-CMS
[submodule "libraries/cairo"]
	path = libraries/cairo
	url = https://gitlab.freedesktop.org/cairo/cairo.git
[submodule "libraries/libpng"]
	path = libraries/libpng
	url = https://github.com/glennrp/libpng
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/madler/zlib
[submodule "libraries/bdwgc"]
	path = libraries/bdwgc
	url = https://github.com/ivmai/bdwgc.git
[submodule "libraries/libatomic_ops"]
	path = libraries/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops.git
[submodule "libraries/x265"]
	path = libraries/x265
	url = https://bitbucket.org/multicoreware/x265_git.git
[submodule "libraries/vorbis"]
	path = libraries/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "libraries/opusfile"]
	path = libraries/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "libraries/opus"]
	path = libraries/opus
	url = https://github.com/xiph/opus.git
[submodule "libraries/libsndfile"]
	path = libraries/libsndfile
	url = https://github.com/erikd/libsndfile.git
[submodule "libraries/libxml2"]
	path = libraries/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git/
[submodule "libraries/libheif"]
	path = libraries/libheif
	url = https://github.com/strukturag/libheif.git
[submodule "devel/make"]
	path = devel/make
    url = https://git.savannah.gnu.org/git/make.git
[submodule "devel/autoconf"]
	path = devel/autoconf
	url = https://git.savannah.gnu.org/git/autoconf.git
[submodule "libraries/mingw-w64"]
	path = libraries/mingw-w64
	url = https://git.code.sf.net/p/mingw-w64/mingw-w64
[submodule "devel/gdb"]
	path = devel/gdb
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "devel/libtool"]
	path = devel/libtool
	url = git://git.savannah.gnu.org/libtool.git
[submodule "user/sed"]
	path = user/sed
	url = https://git.savannah.gnu.org/git/sed.git
[submodule "devel/gcc"]
	path = devel/gcc
	url = https://gcc.gnu.org/git/gcc.git
[submodule "devel/nasm"]
	path = devel/nasm
	url = https://github.com/netwide-assembler/nasm.git
[submodule "libraries/libunistring"]
	path = libraries/libunistring
	url = https://git.savannah.gnu.org/git/libunistring.git
[submodule "libraries/libgit2"]
	path = libraries/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "libraries/libarchive"]
	path = libraries/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "libraries/glib"]
	path = libraries/glib
	url = https://gitlab.gnome.org/GNOME/glib.git
[submodule "devel/bison"]
	path = devel/bison
	url = https://git.savannah.gnu.org/git/bison.git
[submodule "user/diffutils"]
	path = user/diffutils
	url = git://git.savannah.gnu.org/diffutils.git
[submodule "libraries/libksba"]
	path = libraries/libksba
	url = git://git.gnupg.org/libksba.git
[submodule "libraries/libgpg-error"]
	path = libraries/libgpg-error
	url = git://git.gnupg.org/libgpg-error.git
[submodule "libraries/libassuan"]
	path = libraries/libassuan
	url = git://git.gnupg.org/libassuan.git
[submodule "libraries/ntbtls"]
	path = libraries/ntbtls
	url = git://git.gnupg.org/ntbtls.git
[submodule "libraries/libgcrypt"]
	path = libraries/libgcrypt
	url = git://git.gnupg.org/libgcrypt.git
[submodule "libraries/npth"]
	path = libraries/npth
	url = git://git.gnupg.org/npth.git
[submodule "libraries/gpgme"]
	path = libraries/gpgme
	url = git://git.gnupg.org/gpgme.git
[submodule "user/gnupg"]
	path = user/gnupg
	url = git://git.gnupg.org/gnupg.git
[submodule "user/pinentry"]
	path = user/pinentry
    url = git://git.gnupg.org/pinentry.git
[submodule "libraries/slib"]
	path = libraries/slib
	url = https://github.com/myzhang1029/slib.git
[submodule "libraries/pdcurses"]
	path = libraries/pdcurses
	url = https://github.com/wmcbrine/PDCurses.git
[submodule "libraries/lua-compat-5.3"]
	path = libraries/lua-compat-5.3
	url = https://github.com/keplerproject/lua-compat-5.3.git
[submodule "archival/bzip2"]
	path = archival/bzip2
	url = https://sourceware.org/git/bzip2.git
[submodule "libraries/readline"]
	path = libraries/readline
	url = https://git.savannah.gnu.org/git/readline.git
[submodule "devel/yasm"]
	path = devel/yasm
	url = https://github.com/yasm/yasm.git
[submodule "user/less"]
	path = user/less
	url = https://github.com/gwsw/less.git
[submodule "devel/tcl"]
	path = devel/tcl
	url = https://github.com/tcltk/tcl.git
	branch = 9e279a9
[submodule "devel/tk"]
	path = devel/tk
	url = https://github.com/tcltk/tk.git
	branch = 8f1f19c
[submodule "libraries/libgd"]
	path = libraries/libgd
	url = https://github.com/libgd/libgd.git
[submodule "libraries/nettle"]
	path = libraries/nettle
	url = https://git.lysator.liu.se/nettle/nettle.git
[submodule "libraries/pcre2"]
	path = libraries/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "libraries/libpsl"]
	path = libraries/libpsl
	url = https://github.com/rockdaboot/libpsl.git
[submodule "libraries/mpc"]
	path = libraries/mpc
	url = https://gitlab.inria.fr/mpc/mpc.git
[submodule "libraries/mpfr"]
	path = libraries/mpfr
	url = https://gitlab.inria.fr/mpfr/mpfr.git
[submodule "devel/binutils"]
	path = devel/binutils
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "libraries/isl"]
	path = libraries/isl
	url = git://repo.or.cz/isl.git
[submodule "libraries/libiconv"]
	path = libraries/libiconv
	url = git://git.savannah.gnu.org/libiconv.git
[submodule "libraries/libtasn1"]
	path = libraries/libtasn1
	url = https://gitlab.com/gnutls/libtasn1.git
[submodule "devel/pkgconf"]
	path = devel/pkgconf
	url = https://github.com/pkgconf/pkgconf.git
[submodule "devel/gdbm"]
	path = devel/gdbm
	url = git://git.gnu.org.ua/gdbm.git
[submodule "user/grep"]
	path = user/grep
	url = git://git.savannah.gnu.org/grep.git
[submodule "devel/m4"]
	path = devel/m4
	url = git://git.savannah.gnu.org/m4.git
[submodule "devel/automake"]
	path = devel/automake
	url = git://git.savannah.gnu.org/automake.git
[submodule "libraries/freetype"]
	path = libraries/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "libraries/fontconfig"]
	path = libraries/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "devel/lua"]
	path = devel/lua
	url = https://github.com/lua/lua
[submodule "libraries/graphite"]
	path = libraries/graphite
	url = https://github.com/silnrsi/graphite.git
[submodule "libraries/libmad"]
	path = libraries/libmad
	url = https://github.com/sezero/libmad.git
[submodule "libraries/p11-kit"]
	path = libraries/p11-kit
	url = https://github.com/p11-glue/p11-kit.git
